@model IEnumerable<Persistance.Data.Topic>
@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "donHomeIndex";//AngJs controller here adds structure to the project
}

@section Scripts {
<script src="~/Js/app.js"></script>
}

<!--finds the place on the page, where each of these individual routed views are going to be injected.
   Very similar to the serverside-idea of the _Layout page -->
<div ng-view=""></div> <!--Inject view templates here-->


<!--The #(pound) declaration is used for interpage routing. Everything after 
    that pound directive is what the routing  engine is going to look for*-->