<h3>New Topic</h3>
<form name="newTopicForm" novalidate ng-submit="newTopicCtrl.save()">
    <!--when smb click the submit button-->
    <fieldset>
        <div class="form-group">
            <div>
                <label for="title">Title</label>
                <input type="text" name="title" id="title" ng-model="newTopicCtrl.newTopic.Title" required ng-minlength="5">
<!--                If the title has an error and that error is an required error, then show this element-->
                <span class="error" ng-show="newTopicForm.title.$error.required">*</span>
                <span class="error" ng-show="newTopicForm.title.$error.minlength">Minimum 5 Characters</span>
            </div>
            <div>
                <label for="body">Body</label>
                <textarea name="body" id="body" cols="30" rows="5" ng-model="newTopicCtrl.newTopic.Body" required ng-minlength="15"></textarea>
                <span class="error" ng-show="newTopicForm.body.$error.required">*</span>
                <span class="error" ng-show="newTopicForm.body.$error.minlength">Minimum 15 Characters</span>
            </div>
            <div>
                <input type="submit" class="btn" value="Save" ng-disabled="newTopicForm.$invalid">
                <a href="#/" class="btn">Cancel</a>
            </div>
        </div>
    </fieldset>
</form>